/* =Reset
-----------------------------------------------------------------------------*/
html {
  color: #000;
  background: #FFF;
  font-family: 'Microsoft Yahei'; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: normal;
  font-weight: normal; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-size: medium;
  font-style: normal;
  font-weight: normal; }

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
  display: block; }

/* =General
-----------------------------------------------------------------------------*/
/* Class for clearing floats */
.clearfix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

* html .clear {
  height: 1%; }

.clearfix {
  display: block; }

/* End clearing floats */
.zoom {
  zoom: 1; }

.hidden {
  visibility: hidden; }

.none {
  display: none; }

a:link, a:visited {
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  background: black; }

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  background: url(/static/hongdian_lottery/images/bg.jpg) no-repeat;
  background-size: contain;
  background-color: black; }
  .page.page1 {
    z-index: 10;
    display: block; }
    .page.page1 .b1 {
      width: 46%;
      position: absolute;
      left: 27%;
      bottom: 30%; }
    .page.page1 p {
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #ffffb6;
      line-height: 22px;
      position: absolute;
      left: 0;
      bottom: 5%; }
  .page.page2 {
    z-index: 9;
    display: none; }
    .page.page2 .page2-con {
      width: 80%;
      position: absolute;
      bottom: 10%;
      left: 10%; }
      .page.page2 .page2-con h3 {
        color: white;
        text-align: right;
        margin-bottom: 5px;
        font-size: 0.9em; }
      .page.page2 .page2-con section {
        margin-bottom: 15px;
        color: white; }
        .page.page2 .page2-con section span {
          width: 20%;
          display: inline-block;
          vertical-align: middle; }
        .page.page2 .page2-con section input {
          width: 76%;
          display: inline-block;
          vertical-align: middle;
          border: none;
          height: 32px;
          line-height: 32px;
          border-radius: 5px;
          padding: 0 2%;
          outline: none; }
        .page.page2 .page2-con section .code {
          width: 36%;
          margin-right: 2%; }
        .page.page2 .page2-con section a {
          width: 38%;
          background: #d9ba82;
          color: black;
          text-align: center;
          display: inline-block;
          vertical-align: middle;
          border-radius: 3px;
          height: 32px;
          line-height: 32px;
          font-size: 14px; }
      .page.page2 .page2-con .b2 {
        width: 80%;
        display: block;
        margin-left: 20%; }
  .page.page3 {
    z-index: 8;
    display: none; }
    .page.page3 .lottery {
      width: 320px;
      height: 188px;
      position: absolute;
      left: 50%;
      margin-left: -160px;
      bottom: 10%;
      z-index: 5;
      background: url(/static/hongdian_lottery/images/card_bg.png) no-repeat;
      background-size: 100%; }
      .page.page3 .lottery .lottery-container {
        width: 290px;
        height: 153px;
        position: absolute;
        top: 16px;
        left: 15px;
        z-index: 99; }
        .page.page3 .lottery .lottery-container #container {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; }
        .page.page3 .lottery .lottery-container .lottery-prize {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          background: #f5e0a9;
          color: #874406;
          text-align: center;
          display: none; }
          .page.page3 .lottery .lottery-container .lottery-prize .prize1 {
            display: none; }
            .page.page3 .lottery .lottery-container .lottery-prize .prize1 p {
              line-height: 30px;
              font-weight: 600;
              font-size: 1.2em;
              margin-top: 20px; }
            .page.page3 .lottery .lottery-container .lottery-prize .prize1 a {
              width: 42%;
              background: #d9ba82;
              color: black;
              text-align: center;
              display: inline-block;
              vertical-align: middle;
              border-radius: 3px;
              height: 32px;
              line-height: 32px;
              font-size: 14px;
              display: block;
              margin: 10px auto 0 auto; }
          .page.page3 .lottery .lottery-container .lottery-prize .prize2 {
            display: none; }
            .page.page3 .lottery .lottery-container .lottery-prize .prize2 p {
              line-height: 30px;
              font-weight: 600;
              font-size: 1.2em;
              margin-top: 40px; }
  .page.page4 {
    z-index: 7;
    display: none; }
    .page.page4 .page4-con {
      width: 80%;
      position: absolute;
      bottom: 10%;
      left: 10%; }
      .page.page4 .page4-con .form {
        color: white; }
        .page.page4 .page4-con .form p {
          margin: 5px 0 10px 0; }
        .page.page4 .page4-con .form input {
          width: 96%;
          display: inline-block;
          vertical-align: middle;
          border: none;
          height: 32px;
          line-height: 32px;
          border-radius: 5px;
          padding: 0 2%;
          outline: none; }
        .page.page4 .page4-con .form > div input {
          width: 46%;
          margin-right: 6%;
          display: inline-block;
          vertical-align: middle; }
        .page.page4 .page4-con .form > div a {
          width: 42%;
          background: #d9ba82;
          color: black;
          text-align: center;
          display: inline-block;
          vertical-align: middle;
          border-radius: 3px;
          height: 32px;
          line-height: 32px;
          font-size: 14px; }
      .page.page4 .page4-con img {
        margin-top: 20px;
        width: 100%; }
  .page.page5 {
    z-index: 6;
    display: none; }
    .page.page5 .page5-con {
      width: 80%;
      position: absolute;
      bottom: 10%;
      left: 10%;
      text-align: center; }
      .page.page5 .page5-con h3 {
        color: white;
        font-size: 500;
        font-size: 1.2em;
        margin-bottom: 35px; }
      .page.page5 .page5-con p {
        color: #fdf6bb;
        margin-bottom: 15px;
        line-height: 24px; }
      .page.page5 .page5-con h4 {
        color: white;
        font-size: 12px; }
