<!DOCTYPE html>
<html>
	<head>
		<title>2017中国汽车发展论坛暨首届中国红点汽车大奖颁奖盛典</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="/static/hongdian_lottery/css/index.css">
	</head>
	<body>
        <div class="page page1">
					<img src="/static/hongdian_lottery/images/b1.png" class="b1" />
					<!-- <p>主办单位：车市红点<br/>车市红点携手百家主流媒体联合举办<br/>活动时间：2017年2月18日</p> -->
				</div>
				<div class="page page2">
					<div class="page2-con">
						<h3>填写真实信息才能及时收到奖品哦</h3>
						<div class="form">
							<section>
								<span>姓名</span><input type="text" class="name">
							</section>
							<section>
								<span>地址</span><input type="text" class="address">
							</section>
							<section>
								<span>手机号</span><input type="text" class="phone">
							</section>
							<section>
								<span>验证码</span><input type="text" class="code"><a class="getCode">获取验证码</a>
							</section>
						</div>
						<img src="/static/hongdian_lottery/images/b2.png" class="b2">
					</div>
				</div>
        <div class="page page3">
					<div class="main">
						<div class="lottery">
							<div class="lottery-container">
								<div id="container"></div>
								<div class="lottery-prize">
									<div class="prize1">
										<p>哇！中奖啦！<br/><span></span></p>
										<a class="next">下一步</a>
									</div>
									<div class="prize2">
										<p>遗憾，手慢啦！<br/>下次早点来哦~</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        <!-- <div class="page page4">
					<div class="page4-con">
						<div class="form">
							<p>请输入手机号</p>
							<input type="text" class="phone1">
							<p>请输入验证码</p>
							<div>
								<input type="text" class="code">
								<a class="getCode">获取验证码</a>
							</div>
						</div>
						<img src="/static/hongdian_lottery/images/b4.png" class="b4">
					</div>
				</div> -->
				<div class="page page5">
					<div class="page5-con">
						<div>
							<h3>谢谢您参与！</h3>
							<p>请凭发送至您手机的获奖短信<br/>前往领奖处领奖</p>
							<h4>此短信仅当日有效<br/>如未收到短信，请直接凭手机号到兑奖处领取</h4>
						</div>
					</div>
				</div>
        <script src="/static/hongdian_lottery/js/zepto.min.js"></script>
        <script src="/static/hongdian_lottery/js/Lottery.js"></script>
        <script src="/static/hongdian_lottery/js/min/index-min.js"></script>
	</body>
</html>
